<div class="container">
<p id="parent" *ngIf="isValid">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa accusamus id quisquam, odio tenetur hic molestias
    voluptatibus nihil, optio minima doloremque. Beatae et eos quod ea officiis fuga quam quos!
    Nostrum sed suscipit voluptatum voluptatibus ratione repellat, non id libero omnis corrupti modi dolor at, deserunt
    eveniet quis cupiditate neque, temporibus assumenda eligendi repudiandae vitae enim. Natus reiciendis rerum fugiat!
    Exercitationem, dolores mollitia minima perferendis distinctio eveniet omnis iure amet dolore itaque officia
    consequuntur quidem eligendi doloremque voluptatibus ullam, eius debitis alias quibusdam nostrum praesentium nulla
    inventore. Magni, voluptatum modi.
    Odit explicabo hic repellat fugiat! Repudiandae quidem facilis sequi quas non accusamus, maiores doloribus officia.
    Non dolorem tempora quod veniam repellendus blanditiis harum. Amet cupiditate aliquid aspernatur non? Repellat,
    reiciendis.
    Reiciendis recusandae repudiandae, error nemo libero dolor aspernatur tempora, suscipit, ut accusantium quasi aut.
    Dolore, tenetur praesentium excepturi dolores maiores optio, quisquam ullam, eligendi quasi debitis esse
    exercitationem unde repellendus.
    Aliquid voluptate harum tenetur perspiciatis quaerat inventore, nemo, quas deserunt voluptatibus rem voluptas. Iusto
    molestiae dolor facere, pariatur iste reprehenderit soluta possimus odit, vitae sequi accusantium quis praesentium
    eligendi quidem.
    Saepe cum, asperiores quo quod fugiat consectetur. Hic pariatur, quod in cumque tenetur, reiciendis, quae voluptates
    sapiente sed odio necessitatibus dolorem inventore illum accusamus saepe qui consectetur rerum! Cumque, odit?
    Accusantium porro culpa ad eveniet aperiam natus quidem consequatur maxime consectetur quam omnis magnam, quis sit
    commodi velit architecto iusto aut dolore. Iusto tempore recusandae dolore! Iusto corrupti molestias doloremque.
</p>
<button class="btn btn-success" *ngIf="isValid" (click)="data()">open</button>
</div>