<p>comp5 works! </p>

<button (click)="save()">Save</button>
<h2>Kanhaiya Vairagkar {{roll}}</h2>

<button (click)="Next()">Gotonext</button><br>
{{name}}
<br>
<p [id]="color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga minima maiores est commodi nulla. Aut expedita beatae
    tenetur ullam at, doloribus natus, esse cupiditate similique eius consectetur officiis consequuntur? Hic!
    Nulla iusto provident corrupti tempore vero fugit, explicabo dolore aut nemo consequuntur quasi doloremque fuga
    omnis, earum cupiditate reprehenderit necessitatibus totam dolorem sapiente asperiores laudantium perspiciatis
    facilis. Saepe, corporis quae.
    Dolores autem necessitatibus aperiam maiores at cupiditate corporis sequi voluptatibus vel blanditiis voluptatum
    reprehenderit, nulla, adipisci, assumenda quis. Officiis accusamus optio error aliquid. Voluptatibus doloribus,
    excepturi saepe natus tenetur magnam!</p>

