<p [id]="color" [class]="font">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vitae aliquam nihil eveniet iusto doloribus quam
    recusandae esse labore repellendus voluptatibus magni aut, cum ad ipsa veniam praesentium beatae. Dolorem!
    Obcaecati quis voluptatem, aspernatur quos assumenda repellat quisquam quas officiis quibusdam veniam incidunt
    nihil. Quas fuga ex repudiandae repellendus dolorem non inventore facere porro. Temporibus pariatur mollitia quidem
    vero cum?
    Sequi modi fugit, molestias quisquam mollitia quidem quas voluptatem blanditiis consequuntur, dolorum delectus
    architecto quia? Ipsum omnis unde vitae cum, debitis modi, voluptas natus illo ipsam, aspernatur atque quo corporis.
</p>
<br><br> 
y
<div [id]="colors" [class]="font">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rerum dolore distinctio rem reiciendis ea
    similique architecto, unde vitae sit a qui temporibus! Totam numquam eius earum sint perferendis accusantium.
<br>
{{font}}
</div>