<div class="container">
    <br>
    <button class="btn btn-primary" (click)="onClick()" >Create Block</button>
    
    <button class="btn btn-primary" (click)="onClick1()">close Block </button>
    <br><br>
    <div *ngIf="isValid">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusantium non voluptates
        commodi perferendis
        omnis magnam tempore ducimus, accusamus eius, dolorum dicta provident, nobis quo atque blanditiis ipsum labore?
        Corporis?</div>
</div>