<!-- <app-root></app-root> -->
<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2>-->
<!-- <app-comp3></app-comp3>  -->
<!-- <app-comp4></app-comp4>  -->
<!-- <app-comp4></app-comp4> -->
<!-- <app-comp5></app-comp5> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-two-way-binding2></app-two-way-binding2> -->
<!-- <app-ngclass></app-ngclass> -->
<!-- <app-ngclass2></app-ngclass2> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-if2></app-ng-if2> -->
<!-- <app-ng-if3></app-ng-if3> -->
<!-- <app-ng-if4></app-ng-if4> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-switch1></app-ng-switch1> -->
<!-- <app-ng-switch1></app-ng-switch1> -->
<!-- <app-ng-switch2></app-ng-switch2> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-for2></app-ng-for2> -->
<!-- <app-ng-for4></app-ng-for4> -->
<!-- <app-ng-for3></app-ng-for3> -->
<!-- <app-ng-for3></app-ng-for3> -->
<!-- <h1 class="text-center">My Eccomerce App</h1>-->
 <!-- <div class="row">
    <div class="col col-lg-2 bg-info" style="height: 400px;">Sidebar</div>
    <div  class="col col-lg-10">
<router-outlet></router-outlet>
</div>
</div>  -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-e-info></app-e-info> -->

<app-pipe></app-pipe>