<h1>
<!-- Date:{{dateToday}}  <br> -->
<!-- Date Pipe:{{dateToday | date | uppercase}} <br>
Date Pipe:{{dateToday| date: 'shortTime'}}<br>
Date Pipe:{{dateToday| date: 'fullDate'}}<br>
Date Pipe:{{dateToday| date: 'd/M/Y'}}<br>

Name :{{name  | uppercase}}<br> -->

<!-- 
{{1254.98| currency:'CAD'}} <br>
{{1254.98| currency:'CAD':'code'}} -->

<!-- {{321.654654|number:'3.1-2'}}<br>
{{9856.879|number:'3.2-3'}} -->

<!-- Lowercase Name:{{name  | lowercase}}<br>
Name : {{name  | slice:4}}<br>
Name : {{name  | slice:5}}<br>
Birthday : {{dateToday}};,<br>
Value : {{value }}  -->

<!-- 
{{89725|percent}}<br>
{{.221325|percent}}<br>
{{45.645|percent:'4.2'}} -->
</h1>