<!-- interpolution -->
<label for="Name">Name:</label>
<input type="text">{{name}}

<!--Property binding  -->

<!-- <input type="text" [id]="myId"> -->
<p [id]="myId">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo deleniti itaque quos velit doloribus
    dolorem laborum, commodi a officia qui sunt perspiciatis obcaecati accusamus. Vero velit rerum enim delectus!</p>

<div [class]="myIdp">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam fuga dolores laboriosam commodi quasi soluta
    consequuntur harum, obcaecati omnis ab expedita neque optio beatae, cum molestias veniam totam accusantium iure?
</div> 
<br>
<div [class]="myIdl">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam fuga dolores laboriosam commodi quasi soluta
    consequuntur harum, obcaecati omnis ab expedita neque optio beatae, cum molestias veniam totam accusantium iure?
</div> 